<!DOCTYPE html>
<html>
<head>
  <title>Tyler Nappy</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/jquery.nav.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <link href='css/main.css' rel='stylesheet' type='text/css'>
</head>

<nav id="navigation">
  <ul id="topnav">
    <li class="current"><a href="#top">Top</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#recent-publications">Publications</a></li>
    <li><a href="#stack">Stack / Technology</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<div id="content">

  <!-- Top -->
  <section id="top">
    <div class="wrapper">
      <div class="row">
        <div class="col-xs-12">

          <div class="row">
            <div id="myname">
              <div class="col-xs-4 col-xs-offset-3">
                <div id="tyler">Tyler</div>
              </div>
              <div class="col-xs-4">
                <div id="nappy">Nappy</div>
              </div>
            </div>
          </div>

          </br>
          </br>
          </br>
          </br>
          </br>

          <div class="row">
            <div class="col-xs-5 col-xs-offset-3">
              <div id="software-engineer">Developer Evangelist</div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>




  <!-- Experience -->
  <section id="experience">
    <div class="wrapper">

      <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
          <h1>Experience</h1>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col-xs-12">

          <!--  -->
          <!-- Haven OnDemand -->
          <div class="row">

            <div class="col-xs-4 col-xs-offset-3">
               <div class="row">
                  <div class="col-xs-12">
                     <h2>
                       <div>Developer Evangelist</div><div>at <a href="https://www.havenondemand.com/" target="_blank">Hewlett-Packard Enterprise Haven OnDemand</a></div>
                    </h2>
                 </div>
              </div>

              <div class="row">
                 <div class="col-xs-12">
                    <h3>
                       <div>05/2015 - Present</div>
                    </h3>
                 </div>
              </div>
           </div>

           <div class="col-xs-4">
              <p>
                 HPE Haven OnDemand is a REST API platform for structured and unstructured data to build comprehensive solutions and apps using text analysis, speech recognition, image analysis, indexing and search APIs.
              </p>
           </div>

        </div>

        <br />
        <br />
        <br />

           <!-- Mailjet -->
           <div class="row">

             <div class="col-xs-4 col-xs-offset-3">
                <div class="row">
                   <div class="col-xs-12">
                      <h2>
                        <div>Developer Evangelist</div><div>at <a href="https://www.mailjet.com/" target="_blank">Mailjet</a></div>
                     </h2>
                  </div>
               </div>

               <div class="row">
                  <div class="col-xs-12">
                     <h3>
                        <div>04/2014 - 05/2015</div>
                     </h3>
                  </div>
               </div>
            </div>

            <div class="col-xs-4">
               <p>
                  Mailjet is a powerful all-in-one email service provider businesses can use to get maximum insight and deliverability results from both their marketing and transactional emails. Our analytics tools and intelligent APIs give senders the best understanding of how to maximize benefits for each individual contact, with each email sent.
               </p>
            </div>

         </div>

         <br />
         <br />
         <br />

         <!-- Hammerhead -->
          <div class="row">

            <div class="col-xs-4 col-xs-offset-3">

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Software Engineer</div><div>at <a href="http://hammerhead.io/" target="_blank">Hammerhead Navigation</a></div><div>in TechStars</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h3>
                    <div>12/2013 - 04/2014</div>
                  </h3>
                </div>
              </div>

            </div>

            <div class="col-xs-4">
              <p>
                Hammerhead is a connected device that uses light patterns to show bikers where to go while allowing them to engage with friends along the way.
              </p>
              <p>
                The “R/GA Connected Devices Accelerator Powered by TechStars” is an accelerator program that brings together world-class design and marketing with hardware, data, and digital services. It is a three-month, immersive, mentor-driven program for ten tech startups focusing on the Internet of Things.
              </p>
              <p>
                 TechStars is a seed investor that runs elite mentorship-driven accelerator programs with the mission of helping entrepreneurs build the next generation of great technology companies.
              </p>
              <p>
                R/GA is a full-service digital advertising agency that delivers innovative communications, consulting, and commerce solutions for the world's leading brands.
              </p>
            </div>

          </div>
        </div>

      </div>

      </br>
      </br>
      </br>

    </div>
  </section>


<!-- asdfasdfas -->

<!-- Experience -->
<section id="recent-publications">
   <div class="wrapper">

      <div class="row">
         <div class="col-xs-9 col-xs-offset-3">
            <h1>Publications</h1>
         </div>
      </div>

   </br>

   <div class="row">
      <div class="col-xs-12">

        <div class="row">

           <div class="col-xs-4 col-xs-offset-3">
              <div class="row">
                 <div class="col-xs-12">
                    <h2>
                       <div><a href="https://community.havenondemand.com/t5/Blog/IoT-Holiday-Camera-Ornament-using-Face-Detection-Raspberry-Pi/ba-p/2484" target="_blank">IoT Holiday Camera Ornament - using Face Detection, Raspberry Pi, Particle Core, and NeoPixels</a></div>
                    </h2>
                 </div>
              </div>
           </div>

           <div class="col-xs-4">
              <p>
                 An internet connected holiday ornament built using a Raspberry Pi with a camera module, Wifi dongle, and 3.5 inch display attached to its face. The camera takes pictures at set time intervals of anyone looking, or posing, in front of the tree. It then pushes this image to Haven OnDemand's Face Detection API to validate if there was, infact, a person, or people, in front of the tree. If somone is detected in the image, the image gets sent over to a Node.js server which superimposes a holiday greeting in unique holiday colors and fonts. While it’s doing this, the ring of Neopixels displays a buffering sign so the people getting their picture taken know their image is in the works and will display shortly. Once the new image is finished processing, it gets received by the Raspberry Pi and immediately displays it on the 3.5 inch display and adds it to the looping slideshow of previously taken pictures.
              </p>
              <p>
                 Check out it out on <a href="https://github.com/tylernappy/iot-holiday-camera-ornament" target="_blank">Github</a>.
              </p>
           </div>

        </div>

        <br />
        <br />
        <br />

        <div class="row">

           <div class="col-xs-4 col-xs-offset-3">
              <div class="row">
                 <div class="col-xs-12">
                    <h2>
                       <div><a href="https://community.havenondemand.com/t5/Blog/Up-and-running-in-5-minutes-with-Haven-OnDemand-using-Node-js/ba-p/1968" target="_blank">Up and running in 5 minutes with Haven OnDemand using Node.js, Ruby, and Python</a></div>
                    </h2>
                 </div>
              </div>
           </div>

           <div class="col-xs-4">
              <p>
                A quick how-to tutorial with accopanying videos and code samples on how to get up and running with Haven OnDemand's official Node.js, Ruby, and Python client libraries.
              </p>
           </div>

        </div>

        <br />
        <br />
        <br />

         <div class="row">

            <div class="col-xs-4 col-xs-offset-3">

               <div class="row">
                  <div class="col-xs-12">
                     <h2>
                        <div><a href="https://www.mailjet.com/blog/introducing-new-newsletter-action-endpoints-api/" target="_blank">New Newsletter Endpoints</a></div>
                     </h2>
                  </div>
               </div>

            </div>

            <div class="col-xs-4">
               <p>
                  Description and implementation of new action syntax for Mailjet's newsletter API endpoints.
               </p>
            </div>

         </div>

         <br />
         <br />
         <br />


         <!-- Hammerhead -->
         <div class="row">

            <div class="col-xs-4 col-xs-offset-3">

               <div class="row">
                  <div class="col-xs-12">
                     <h2>
                        <div><a href="https://www.mailjet.com/blog/send-email-nbsp-with-matlab/" target="_blank">Send Email With MATLAB</a></div>
                     </h2>
                  </div>
               </div>

            </div>

            <div class="col-xs-4">
               <p>
                  How to send emails with <a href="http://www.mathworks.com/products/matlab/" target="_blank">MATLAB</a> complete with code examples.
               </p>
            </div>

         </div>

      </div>

   </div>

</br>
</br>
</br>

</div>
</section>



  <section id="stack">
    <div class="wrapper">

      <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
          <h1>Main Stack / Technology</h1>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">

            <div class="col-xs-4 col-xs-offset-3">

               <div class="row">
                  <div class="col-xs-12">
                     <h2>
                        <div>Node.js</div>
                     </h2>
                  </div>
               </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Python</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                 <div class="col-xs-12">
                    <h2>
                       <div>Arduino</div>
                    </h2>
                 </div>
              </div>

               <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>JavaScript</div>
                  </h2>
                </div>
              </div>

            </div>
            <!-- New column -->
            <div class="col-xs-4">

               <div class="row">
                  <div class="col-xs-12">
                     <h2>
                        <div>Ruby</div>
                     </h2>
                  </div>
               </div>

               <div class="row">
                  <div class="col-xs-12">
                     <h2>
                        <div>Raspberry Pi</div>
                     </h2>
                  </div>
               </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>JQuery</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Rails</div>
                  </h2>
                </div>
              </div>


            </div>

          </div>
        </div>

      </div>

    </div>
  </section>









  <section id="education">
    <div class="wrapper">

      <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
          <h1>Education</h1>
        </div>
      </div>

      </br>

      <!-- Boston University -->
      <div class="row">
        <div class="col-xs-12">
          <div class="row">

            <div class="col-xs-4 col-xs-offset-3">

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Boston University</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h3>
                    <div>09/2007 - 05/2011</div>
                  </h3>
                </div>
              </div>

            </div>

            <div class="col-xs-4">
              <h2 id="degree">
                <div>Bachelor of Science</div><div>Aerospace Engineering</div>
              </h2>
            </div>

          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="contact">
    <div class="wrapper">

      <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
          <h1>Contact</h1>
        </div>
      </div>

      </br>

      <!-- Phone -->
      <div class="row">
        <div class="col-xs-12">
          <div class="row">

            <div class="col-xs-4 col-xs-offset-3">

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Phone</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Email</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>LinkedIn</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>Twitter</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h2>
                    <div>GitHub</div>
                  </h2>
                </div>
              </div>

            </div>

            <div class="col-xs-4">
              <h2>
                <div id="phone">(516) 967-1237</div>
              </h2>
            </div>

            <div class="col-xs-4">
              <h2>
                <div><a href="mailTo:tylernappy@gmail.com" id="contact-info">tylernappy@gmail.com</a></div>
              </h2>
            </div>

            <div class="col-xs-4">
              <h2>
                <div><a target="_blank" href="http://www.linkedin.com/in/tylernappy" id="contact-info">tylernappy</a></div>
              </h2>
            </div>

            <div class="col-xs-4">
              <h2>
                <div><a target="_blank" href="https://twitter.com/tylernappy" id="contact-info">@tylernappy</a></div>
              </h2>
            </div>

            <div class="col-xs-4">
              <h2>
                <div><a target="_blank" href="https://github.com/tylernappy" id="contact-info">tylernappy</a></div>
              </h2>
            </div>

          </div>
        </div>

      </div>

    </div>
  </section>

</div>

<!-- put script at end for it to go faster -->
<script>
  $( "#see-it-gps" ).click(function() {
    $( "#components" ).fadeOut(1000);
    $( "#gps-running-assistant-image" ).delay(1100).fadeIn(1000);
  });
  $( "#see-it-components" ).click(function() {
    $( "#gps-running-assistant-image" ).fadeOut(1000);
    $( "#components" ).delay(1100).fadeIn(1000);
  });
</script>

<!-- for scrolling nav bar -->
<script type="text/javascript">
  $('#navigation').onePageNav({
    currentClass: 'current',
    changeHash: false,
    scrollSpeed: 750,
    scrollOffset: 30,
    scrollThreshold: 0.5,
    filter: '',
    easing: 'swing',
    begin: function() {
        //I get fired when the animation is starting
    },
    end: function() {
        //I get fired when the animation is ending
    },
    scrollChange: function($currentListItem) {
        //I get fired when you enter a section and I pass the list item of the section
    }
  });
</script>
<script type="text/javascript">
  $(function(){  // $(document).ready shorthand
    $('#tyler').hide().delay(1000).fadeIn(1000);
    $('#nappy').hide().delay(2000).fadeIn(1000);
    $('#software-engineer').hide().delay(3000).fadeIn(1000);
    $('#topnav').hide().delay(4000).fadeIn(1000);
    $('#experience').hide().delay(4000).fadeIn(1000);
    $('#recent-publications').hide().delay(4000).fadeIn(1000);
    $('#education').hide().delay(4000).fadeIn(1000);
    $('#stack').hide().delay(4000).fadeIn(1000);
    $('#contact').hide().delay(4000).fadeIn(1000);
  });
</script>

<script type="text/javascript">
  vpw = $(window).width();
  vph = $(window).height();
  var windowHeightThreshold = 700;
  var buffer = 200;
  if (vph > windowHeightThreshold) {
    $('#top').height(vph+buffer);
    $('#experience').height(vph+buffer+180);
    $('#recent-publications').height(vph+buffer+650);
    $('#education').height(vph+buffer);
    $('#stack').height(vph+buffer);
    $('#contact').height(vph);
  }
  else {
    $('#top').height(windowHeightThreshold+buffer);
    $('#experience').height(windowHeightThreshold+buffer+180);
    $('#recent-publications').height(windowHeightThreshold+buffer+650);
    $('#education').height(windowHeightThreshold+buffer);
    $('#stack').height(windowHeightThreshold+buffer);
    $('#contact').height(windowHeightThreshold);
  }
</script>
</html>
