#nappy {
   margin-left: -90px;
}

#bred {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

#bred:hover {
  color: #E9442C;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

p {
  font-size: 16px;
  color: #FFFFFF;
}

#see-it-components {
  color: #FCB81D;
  text-decoration: none;
  cursor: pointer;
}

#see-it-components:hover {
  color: #FFFFFF;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#components li {
  list-style: none;
  font-size: 16px;
  color: #FFFFFF;
}

#components {
  display: none;
}

#see-it-gps {
  color: #FCB81D;
  text-decoration: none;
  cursor: pointer;
}

#see-it-gps:hover {
  color: #FFFFFF;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#gps-running-assistant-image {
  border-radius: 20px 20px 20px 20px;
  display: none;
}

#check-it-out {
  color: #FCB81D;
  text-decoration: none;
}

#check-it-out:hover {

  color: #FFFFFF;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#degree {
  color: #FFFFFF;
}

#education h1 {
  color: #FFFFFF;
}

#recent-publications h1 {
  color: #FFFFFF;
}

#stack h1 {
  color: #FFFFFF;
}

#experience h1 {
  color: #FFFFFF;
}

#contact h1 {
  color: #FFFFFF;
}


#content {
  /*padding-top: 100px;*/
}

/*#contact-info {
  color: #19A9DB;
}*/

#contact-info:hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

a {
   /*color: #19A9DB;*/
  /*color: #E9442C;*/
  color: #00C4BA;
}

a:hover {
   color: #38393B;
   text-decoration: none;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

#phone {
  color: #FFFFFF;
}


body {
  background-color: #E9442C;
  /*background-color: #19A9DB;*/
  /*background-color: #2F69C6;*/
  /*background-color: #00C4BA; */
}

#software-engineer {
  font-size: 40px;
  font-weight: bold;
}


#myname {
  font-size: 80px;
  font-weight: bold;
  color: #FFFFFF;
}

#logo {
  width: 50px;
  height: 50px;
  display: inline-block;
}

/*#section-1 {
  width:100%;
  height:100%;
  background-color: #100F0D;
}*/


#navigation {
  width:20%;
  height:50px;
  position: fixed;
  z-index: 9999;
  top:0px;
}

#topnav li {
  list-style: none;
}


/* top navigation */
/*#navigation {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,0);
  z-index: 9999;
}
#topnav {
  max-width: 900px;
  min-width: 380px;
  margin: 0 auto;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  clear: both;
  list-style: none;
}*/

#topnav li a {
/*  display: block;
  float: left;*/
  color: #FFFFFF;
  padding: 0px 11px;
  margin-right: 15px;
  font-size: 1.0em;
  line-height: 70px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#topnav li a:hover {
/*  color: #8C8978;*/
  color: #38393B;
/*  background: rgba(255,255,255,0.65);*/

}

#topnav li.current a {
  /*background: rgba(255,255,255,0.7);*/
  color: #38393B;

/*  border-bottom: 4px solid #b9dc8c;*/
}

#preorder-button-id {
  position: fixed;
  z-index: 9999;
  top: 50px;
  right: 20px;
}
