<head>
  <% javascript_include_tag "application" %>
</head>

<nav id="navigation">
  <ul id="topnav">
   <li class="current"><a href="#top">Top</a></li>
   <li><a href="#experience">Experience</a></li>
   <li><a href="#projects">Projects</a></li>
   <li><a href="#education">Education</a></li>
    <li><a href="#bottom">Bottom</a></li>
  </ul>
</nav>

<div id="content">

  <!-- Top -->
  <section id="top" class="scrollsections">
    <div class="wrapper">
      <div class="row">  
        <div id="myname">
          <div class="span5 offset3">
            <div id="tyler">Tyler</div>
          </div>
          <div class="span4">
            <div id="nappy">Nappy</div>
          </div>  
        </div>
      </div>

      </br>
      </br>
      </br>
      </br>
      </br>

      <div class="row">  
        <div class="span5 offset3">
          <div id="software-engineer">Software Engineer</div>
        </div>
      </div>

    </div>
  </section>

  <!-- Experience -->



</div>

<!-- put script at end for it to go faster -->

<!-- for scrolling nav bar -->
<script type="text/javascript">
  $('#navigation').onePageNav({
    currentClass: 'current',
    changeHash: false,
    scrollSpeed: 750,
    scrollOffset: 30,
    scrollThreshold: 0.5,
    filter: '',
    easing: 'swing',
    begin: function() {
        //I get fired when the animation is starting
    },
    end: function() {
        //I get fired when the animation is ending
    },
    scrollChange: function($currentListItem) {
        //I get fired when you enter a section and I pass the list item of the section
    }
  });
</script>
<script type="text/javascript">
  $(function(){  // $(document).ready shorthand
    $('#tyler').hide().delay(1000).fadeIn(2000);
    $('#nappy').hide().delay(2500).fadeIn(2000);
    $('#software-engineer').hide().delay(4500).fadeIn(2000);      
    $('#topnav').hide().delay(6500).fadeIn(2000);
  });
</script>

<script type="text/javascript">
  vpw = $(window).width();
  vph = $(window).height();
  $('#top').height(vph);
  $('#experience').height(vph);
  $('#projects').height(vph);
  $('#education').height(vph);
  $('#bottom').height(vph);
</script>

<script type="text/javascript">
  $(function() {

    $('section.scrollsections .title').hide(); // Hide all titles

    $('section.scrollsections')
      .scrollSections({
        alwaysStartWithFirstSection : true, // force to load the page on the first section (prevent broswer caching)

        before: function($currentSection, $nextSection){

          _initFuturSection($nextSection);
        },

        after: function($currentSection, $previousSection){

          _initNewSection($currentSection, $previousSection);
        }
      });

    function _initNewSection($section, $prevSection){

      // Do some stuff each time this new section ends animating

      // Only if there is a previous section (its null on first scroll)
      if($prevSection){
        $('.title', $prevSection).hide(); // Hide old section title
      }
      $('.title', $section).fadeIn(); // Fade in current section title

      // Do some stuffs only on first init
      if( !$section.data('isInit') ){
        // Create slider for example
        // $('.selector', $section).slider();

        // Singleton
        $section.data('isInit', true);
      }
    }

    function _initFuturSection($section){

      // Do some stuff each time before this section appears
      $('.title', $section).hide();
    }
  });

</script>

<script type="text/javascript">
  $('#animation').sprite({fps: 12, no_of_frames: 3});
</script>
