<head>
  <% javascript_include_tag "application" %>
</head>

<nav id="navigation">
  <ul id="topnav">
    <li class="current"><a href="#top">Top</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#stack">Stack</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<div id="content">

  <!-- Top -->
  <section id="top">
    <div class="wrapper">
      <div class="row">
        <div class="span12">

          <div class="row">  
            <div id="myname">
              <div class="span5 offset3">
                <div id="tyler">Tyler</div>
              </div>
              <div class="span4">
                <div id="nappy">Nappy</div>
              </div>  
            </div>
          </div>

          </br>
          </br>
          </br>
          </br>
          </br>

          <div class="row">  
            <div class="span5 offset3">
              <div id="software-engineer">Software Engineer</div>
            </div>
          </div>

          <!-- </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>



          <div class="row">  
            <div class="span5 offset5">
              <div id="software-engineer">choose your color</div>
            </div>
          </div>

          </br>
          </br>
          </br>
          </br>

          <div class="row">  
            <div class="span3 offset3">
              <h3><a id="bred">red</a></h3>
            </div>
            <div class="span3">
             <h3><a id="bblue">blue</a></h3>
            </div>
            <div class="span3">
              <h3><a id="bturqoise">turquoise</a></h3>
            </div>
          </div> -->


        </div>
      </div>

    </div>
  </section>




  <!-- Experience -->
  <section id="experience">
    <div class="wrapper">
      
      <div class="row">
        <div class="span5 offset3">
          <h1>Experience</h1>
        </div>
      </div>

      </br>

      <!-- Hammerhead -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Software Engineer</div><div>at Hammerhead Navigation</div><div>in TechStars</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h3>
                    <div>12/2013 - Present</div>
                  </h3>
                </div>
              </div>

            </div>

            <div class="span4">
              <p>
                Hammerhead is a connected device that uses light patterns to show bikers where to go while allowing them to engage with friends along the way.
              </p>
              <p>
                The “R/GA Connected Devices Accelerator Powered by TechStars” is an accelerator program that brings together world-class design and marketing with hardware, data, and digital services. It is a three-month, immersive, mentor-driven program for ten tech startups focusing on the Internet of Things.
              </p>
              <p>
                R/GA is a full-service digital advertising agency that delivers innovative communications, consulting, and commerce solutions for the world's leading brands.
              </p>
              <p>
                TechStars is a seed investor that runs elite mentorship-driven accelerator programs with the mission of helping entrepreneurs build the next generation of great technology companies.
              </p>
            </div>

          </div>
        </div>
      
      </div>

      </br>
      </br>
      </br>

      <!-- Startup Institute -->
      <div class="row">

        <div class="span5 offset3">
          <div class="row">
            <div class="span5">
              <h2>
                <div>Web Development</div><div>at Startup Institute</div>
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="span5">
              <h3>
                <div>10/2013 - 12/2013</div>
              </h3>
            </div>
          </div>
        </div>

        <div class="span4">
          <p>
            Eight week career accelerator program designed to be a full-time, immersive, experience that catapults students into New York's technology ecosystem in the areas of web development, product and design, technical marketing, or sales and business development.
          </p>
        </div>
      
      </div>

    </div>
  </section>




  <section id="projects">
    <div class="wrapper">




      <div class="row">
        <div class="span5 offset3">
          <h1>Projects</h1>
        </div>
      </div>

      </br>

      <!-- Building Security Checkin App -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Building Security</div><div>Checkin Application</div>
                  </h2>
                </div>
              </div>

              <div class="row">

                <div class="span2">
                  <h3>
                    <a target="_blank" href="https://github.com/tylernappy/security-app" id="check-it-out">GitHub</a>
                  </h3>
                </div>

                <div class="span3">
                  <h3>
                    <a target="_blank" href="http://security-application.herokuapp.com" id="check-it-out">See It</a>
                  </h3>
                </div>



              </div>

            </div>

            <div class="span4">
              <p>
                Ruby on Rails application used as a platform for checking in building guests, uniquely connecting building conceierge and guests. Users can see where and when their meetings are and have visual representations via Google Maps.
              </p>
              <p>
                A work in progress.
              </p>
            </div>

          </div>
        </div>
      
      </div>

      </br>
      </br>
      </br>

      <!-- Mock Venmo App -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Mock Venmo</div><div>Ruby Application</div>
                  </h2>
                </div>
              </div>

              <div class="row">

                <div class="span3">
                  <h3>
                    <a target="_blank" href="https://github.com/tylernappy/ruby-mock-venmo-app" id="check-it-out">GitHub</a>
                  </h3>
                </div>

              </div>

            </div>

            <div class="span4">
              <p>
                Mock Venmo application written in Ruby and run from your terminal. Download it from GitHub and play around with it. Requires Ruby 2.0.0.
              </p>
            </div>

          </div>
        </div>
      
      </div>

      </br>
      </br>
      </br>

      <!-- Waist Mounted GPS Running Assistant -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Waist Mounted GPS</div><div>Running Assistant</div>
                  </h2>
                </div>
              </div>

              <div class="row">

                <div class="span2">
                  <h3>
                    <a id="see-it-components">Components</a>
                  </h3>
                </div>

                <div class="span3">
                  <h3>
                    <a id="see-it-gps">See It</a>
                  </h3>
                </div>

              </div>

              <div class="row">
                <div class="span5">
                  <%= image_tag("gps_running_assistant.jpeg", height: '270', width: '251', id: 'gps-running-assistant-image') %>
                  <ul id="components">
                    <li>Arduino</li>
                    <li>GPS</li>
                    <li>Servo Motor</li>
                    <li>2 Lasers</li>
                    <li>Encoder</li>
                    <li>LED Display</li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="span4">
              <p>
                Waist mounted GPS running assistant that gives the runner visual feedback of his or her pace so he or she may adjust accordingly. After the conception of the idea, I decided what components were needed to accomplish this task, researched these components, and selected the appropriate ones that met my needs and specifications while optimizing the device’s functionality and minimizing its cost. I then assembled the breadboard for each individual component (GPS, LED display, encoder, servo motor) in order to make sure the wiring was correct, and then went on to write the accompanying microcontroller software. After I had completed the software for each individual component, I began the assembly of the final product by soldering the circuit board and mounting the components within the casing. Having completed this, I am now in the process of debugging it.
              </p>
            </div>

          </div>
        </div>
      
      </div>

      </br>
      </br>
      </br>

      <!-- This Site -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>This Site</div>
                  </h2>
                </div>
              </div>

              <div class="row">

                <div class="span3">
                  <h3>
                    <a target="_blank" href="https://github.com/tylernappy/portfolio-site" id="check-it-out">GitHub</a>
                  </h3>
                </div>

              </div>

            </div>

            <div class="span4">
              <p>
                Portfolio site built using Ruby on Rails, Bootstrap, JQuery, and JavaScript.
              </p>
            </div>

          </div>
        </div>
      
      </div>



    </div>
  </section>



  <section id="stack">
    <div class="wrapper">

      <div class="row">
        <div class="span5 offset3">
          <h1>Stack</h1>
        </div>
      </div>

      </br>

      <!-- Boston University -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Ruby on Rails</div>
                  </h2>
                </div>
              </div>

               <div class="row">
                <div class="span5">
                  <h2>
                    <div>HTML</div>
                  </h2>
                </div>
              </div>

               <div class="row">
                <div class="span5">
                  <h2>
                    <div>CSS</div>
                  </h2>
                </div>
              </div>

               <div class="row">
                <div class="span5">
                  <h2>
                    <div>Arduino</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>MATLAB</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>SolidWorks</div>
                  </h2>
                </div>
              </div>

            </div>

            <div class="span4">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>JavaScript</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>JQuery</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Objective-C</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>AWS</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>C++</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>ANSYS</div>
                  </h2>
                </div>
              </div> 

            </div>

          </div>
        </div>
      
      </div>

    </div>
  </section>









  <section id="education">
    <div class="wrapper">

      <div class="row">
        <div class="span5 offset3">
          <h1>Education</h1>
        </div>
      </div>

      </br>

      <!-- Boston University -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Boston University</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h3>
                    <div>09/2007 - 05/2011</div>
                  </h3>
                </div>
              </div>

            </div>

            <div class="span4">
              <h2 id="degree">
                <div>Bachelor of Science</div><div>Aerospace Engineering</div>
              </h2>
            </div>

          </div>
        </div>
      
      </div>


      </br>
      </br>
      </br>

      <!-- Columbia University -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Columbia University</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h3>
                    <div>01/2012 - 05/2012</div>
                  </h3>
                </div>
              </div>

            </div>

            <div class="span4">
              <h2 id="degree">
                <div>Continuing Education</div><div>Electromechanical Engineering</div>
              </h2>
            </div>

          </div>
        </div>
      
      </div>

    </div>
  </section>

  <section id="contact">
    <div class="wrapper">

      <div class="row">
        <div class="span5 offset3">
          <h1>Contact</h1>
        </div>
      </div>

      </br>

      <!-- Phone -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Phone</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Email</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>LinkedIn</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Twitter</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h2>
                    <div>GitHub</div>
                  </h2>
                </div>
              </div>

            </div>

            <div class="span4">
              <h2>
                <div id="phone">(516) 967-1237</div>
              </h2>
            </div>

            <div class="span4">
              <h2>
                <div><a href="mailTo:tylernappy@gmail.com" id="contact-info">tylernappy@gmail.com</a></div>
              </h2>
            </div>

            <div class="span4">
              <h2>
                <div><a target="_blank" href="http://www.linkedin.com/in/tylernappy" id="contact-info">tylernappy</a></div>
              </h2>
            </div>

            <div class="span4">
              <h2>
                <div><a target="_blank" href="https://twitter.com/tylernappy" id="contact-info">@tylernappy</a></div>
              </h2>
            </div>

            <div class="span4">
              <h2>
                <div><a target="_blank" href="https://github.com/tylernappy" id="contact-info">tylernappy</a></div>
              </h2>
            </div>

          </div>
        </div>
      
      </div>

    </div>
  </section>

</div>

<!-- put script at end for it to go faster -->
<script>
  $( "#see-it-gps" ).click(function() {
    $( "#components" ).fadeOut(1000);
    $( "#gps-running-assistant-image" ).delay(1100).fadeIn(1000);
  });

  $( "#see-it-components" ).click(function() {
    $( "#gps-running-assistant-image" ).fadeOut(1000);
    $( "#components" ).delay(1100).fadeIn(1000);
  });


</script>

<!-- for scrolling nav bar -->
<script type="text/javascript">
  $('#navigation').onePageNav({
    currentClass: 'current',
    changeHash: false,
    scrollSpeed: 750,
    scrollOffset: 30,
    scrollThreshold: 0.5,
    filter: '',
    easing: 'swing',
    begin: function() {
        //I get fired when the animation is starting
    },
    end: function() {
        //I get fired when the animation is ending
    },
    scrollChange: function($currentListItem) {
        //I get fired when you enter a section and I pass the list item of the section
    }
  });
</script>
<script type="text/javascript">
  $(function(){  // $(document).ready shorthand
    $('#tyler').hide().delay(1000).fadeIn(1000);
    $('#nappy').hide().delay(2000).fadeIn(1000);
    $('#software-engineer').hide().delay(3000).fadeIn(1000);      
    $('#topnav').hide().delay(4000).fadeIn(1000);
    $('#experience').hide().delay(4000).fadeIn(1000);
    $('#projects').hide().delay(4000).fadeIn(1000);
    $('#education').hide().delay(4000).fadeIn(1000);
    $('#stack').hide().delay(4000).fadeIn(1000);
    $('#contact').hide().delay(4000).fadeIn(1000);
  });
</script>

<script type="text/javascript">
  vpw = $(window).width();
  vph = $(window).height();
  $('#top').height(vph);
  $('#experience').height(vph+180);
  $('#projects').height(vph+650);
  $('#education').height(vph);
  $('#stack').height(vph);
  $('#contact').height(vph);
</script>