/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.BECR_image{
  height: 325px;
  width: 637px;
  border-radius: 20px 20px 20px 20px;
}

.BU_logo_thumbnail {
  height: 100px;
  width: 200px;
}

.columbia_logo_thumbnail {
  height: 100px;
  width: 112px;
}

.SI_logo_thumbnail {
  height: 100px;
  width: 200px;
}

.education{
  font-size: 20px;
}

.head_shot {
  width: 325px;
  height: 637px;
  border-radius: 40px 40px 40px 40px;
}

.carousel{
  height: 325px;
  width: 637px;
}

.mainTitle{
  text-align: center;
  font-size: 600%;
}

.catchphrase{
  text-align: center;
  font-size: 200%;
}

.project-description {

}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     font-size: 200%;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.courses {
  text-align: center;
}