<head>
  <% javascript_include_tag "application" %>
</head>

<nav id="navigation">
  <ul id="topnav">
    <li class="current"><a href="#top">Top</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<div id="content">

  <!-- Top -->
  <section id="top">
    <div class="wrapper">
      
      <div class="row">  
        <div id="myname">
          <div class="span5 offset3">
            <div id="tyler">Tyler</div>
          </div>
          <div class="span4">
            <div id="nappy">Nappy</div>
          </div>  
        </div>
      </div>

      </br>
      </br>
      </br>
      </br>
      </br>

      <div class="row">  
        <div class="span5 offset3">
          <div id="software-engineer">Software Engineer</div>
        </div>
      </div>

    </div>
  </section>




  <!-- Experience -->
  <section id="experience">
    <div class="wrapper">
      
      <div class="row">
        <div class="span5 offset3">
          <h1>Experience</h1>
        </div>
      </div>

      </br>

      <!-- Hammerhead -->
      <div class="row">
        <div class="span12">
          <div class="row">

            <div class="span5 offset3">
              
              <div class="row">
                <div class="span5">
                  <h2>
                    <div>Software Engineer</div><div>at Hammerhead Navigation</div><div>in TechStars</div>
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="span5">
                  <h3>
                    <div>12/13 - Present</div>
                  </h3>
                </div>
              </div>

            </div>

            <div class="span4">
              <p>
                Hammerhead is a connected device that uses light patterns to show bikers where to go while allowing them to engage with friends along the way.
              </p>
              <p>
                The “R/GA Connected Devices Accelerator Powered by TechStars” is an accelerator program that brings together world-class design and marketing with hardware, data, and digital services. It is a three-month, immersive, mentor-driven program for ten tech startups focusing on the Internet of Things.
              </p>
              <p>
                R/GA is a full-service digital advertising agency that delivers innovative communications, consulting, and commerce solutions for the world's leading brands.
              </p>
              <p>
                TechStars is a seed investor that runs elite mentorship-driven accelerator programs with the mission of helping entrepreneurs build the next generation of great technology companies.
              </p>
            </div>

          </div>
        </div>
      
      </div>

      </br>
      </br>

      <!-- Startup Institute -->
      <div class="row">

        <div class="span5 offset3">
          <div class="row">
            <div class="span5">
              <h2>
                <div>Web Development</div><div>at Startup Institute</div>
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="span5">
              <h3>
                <div>10/13 - 12/13</div>
              </h3>
            </div>
          </div>
        </div>

        <div class="span4">
          <p>
            Eight week career accelerator program designed to be a full-time, immersive, experience that catapults students into New York's technology ecosystem in the areas of web development, product and design, technical marketing, or sales and business development.
          </p>
        </div>
      
      </div>

    </div>
  </section>




  <section id="projects">
    <div class="wrapper">
       <!--<img src="{{ 'HH_Logo_Mark.jpg' | asset_url }}"> -->
       <h1>Pane 3</h1>
    </div>
  </section>

  <section id="education">
    <div class="wrapper">
       <!--<img src="{{ 'HH_Logo_Mark.jpg' | asset_url }}"> -->
       <h1>Pane 4</h1>
    </div>
  </section>

  <section id="contact">
    <div class="wrapper">
       <!--<img src="{{ 'HH_Logo_Mark.jpg' | asset_url }}"> -->
       <h1>Pane 5</h1>
    </div>
  </section>

</div>

<!-- put script at end for it to go faster -->

<!-- for scrolling nav bar -->
<script type="text/javascript">
  $('#navigation').onePageNav({
    currentClass: 'current',
    changeHash: false,
    scrollSpeed: 750,
    scrollOffset: 30,
    scrollThreshold: 0.5,
    filter: '',
    easing: 'swing',
    begin: function() {
        //I get fired when the animation is starting
    },
    end: function() {
        //I get fired when the animation is ending
    },
    scrollChange: function($currentListItem) {
        //I get fired when you enter a section and I pass the list item of the section
    }
  });
</script>
<script type="text/javascript">
  $(function(){  // $(document).ready shorthand
    $('#tyler').hide().delay(1000).fadeIn(2000);
    $('#nappy').hide().delay(2500).fadeIn(2000);
    $('#software-engineer').hide().delay(4500).fadeIn(2000);      
    $('#topnav').hide().delay(6500).fadeIn(2000);
  });
</script>

<script type="text/javascript">
  vpw = $(window).width();
  vph = $(window).height();
  $('#top').height(vph);
  $('#experience').height(vph);
  $('#projects').height(vph);
  $('#education').height(vph);
  $('#contact').height(vph);
</script>